*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
   
}

.container{
    margin-top: 100px;
    width:330px;
    padding: 12px;
    background-color: rgba(92, 84, 84, 0.267);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 6px solid #a7a4a4;
    border-radius: 10px;    
}

.display{
    width: 100%;
    margin: 3px auto 20px auto;
    border-radius: 5%;
    overflow: hidden;
    background-color: gray;
}

.question,.answer{
    width: 100%;
    height: 60px;
    font-size: 2rem;
    padding: 12px;
    text-align: right;
}


.buttons{
    display: flex;
    gap: 5px;
}


.btn{
    width: 60px;
    height: 50px;
    margin: 5px;
    font-size: 2rem;
    border-radius: 10px;  
}

.btn,.btn.ftn.percent{
    background-color: #5151e4;
}


.btn.ftn.equals{
    flex-grow: 2;
    background-color: green;
}

.btn.ftn{
    background-color: #ba9e9e;
}
.btn.ftn.clear{
    background-color: #d33b3b;
}

.btn.ftn.backspace{
    font-size: 1.5rem;
}




.column2{
    display: flex;
    flex-direction: column;
}
